
.sofadi-one-regular {
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;

}

.header_tab {
    position: fixed;
    width: 100%;
    background-color: #03a9f4;
    top: 0;
    display: flex;
    z-index: 1001;
}

.logo {
    width: 70px;
    height: 70px;
    margin: 0 20px;
}

.header_link_container {
    display: inline-block;
    list-style: none;
    position: absolute;
    margin-top: 16px;
    right: 0;
}

.header_link {
    margin: 0px 20px;
    padding: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.header_link::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    transition: 0.7s;
}

.header_link:hover::after {
    width: 100%;
}

.box_container {
    display: flex;
    padding: 2rem 0;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    gap: 2rem;
}

.box_container .box {
    flex: 1 1 25rem;
    background: cornflowerblue;
    /*text-align: center;*/
    padding: 2.5rem 2rem;
    color: white;
    border-radius: 2.5rem;
    position: relative;
    cursor: pointer;
}

.content {
    text-align: center;
}

.img {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    object-fit: cover;
    background: white;
    padding: 0.5rem;
}

.star {
    width: 2rem;
    height: 2rem;
    color: orange;
}

.line {
    width: 400px;
    height: 4px;
    border: none;
    background-color: #03a9f4;
}

.header {
    color: #03a9f4;
    text-align: center;
}

.zagolovok {
    margin: 72px;
}


footer {
    /*    background: #333;*/
    background: #03a9f4;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.social-media a {
    color: white;
    text-decoration: none;
}


.info_container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.info {
    width: 40%;
    background-color: cornflowerblue;
    border-radius: 8px;
    margin: 16px;
    padding: 16px;
}

.what_is_quiz {
    text-align: center;
    color: white;
    font-size: 32px;
}

.info_about_quiz {
    color: white;
    font-size: 24px;
}

.index_img_1 {
    width: 30%;
    border-radius: 8px;
    margin: 16px;
}

.benefits-container {
    margin-top: 40px;
}

.benefits {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.benefit-item {
    width: 350px;
    height: 400px;
    background-color: cornflowerblue;
    border-left: 5px solid darkblue;
    padding: 15px;
    border-radius: 5px;
}

.benefit-item h4 {
    margin-top: 0;
    color: white;
    font-size: 32px;
}

.benefit-item p {
    color: white;
    font-size: 24px;
}