body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 10px;
    padding: 48px;
    margin: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

.button {
    background-color: #03a9f4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0373f4;
}

.header {
    position: fixed;
    width: 100%;
    background-color: #03a9f4;
    top: 0;
    display: flex;
    z-index: 1001;
}

.header_link_container {
    display: inline-block;
    list-style: none;
    position: absolute;
    margin-top: 16px;
    right: 0;
}

.logo {
    width: 70px;
    height: 70px;
    margin: 0 20px;
}

.ic_profile {
    width: 40px;
    height: 40px;
    margin: 0 20px;
    color: white;
}

.main_img {
    width: 200px;
    height: 200px;
}