<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
            https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
  
  <!-- Регистрация Servlet-->
  
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register-servlet</url-pattern>
  </servlet-mapping>

  <!--  Регистрация JSP -->
  
  <servlet>
    <servlet-name>RegisterJsp</servlet-name>
    <jsp-file>/jsp/register.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterJsp</servlet-name>
    <url-pattern>/register-jsp</url-pattern>
  </servlet-mapping>

  <!-- Логин Servlet -->
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login-servlet</url-pattern>
  </servlet-mapping>

  <!-- Логин JSP -->
  <servlet>
    <servlet-name>LoginJsp</servlet-name>
    <jsp-file>/jsp/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginJsp</servlet-name>
    <url-pattern>/login-jsp</url-pattern>
  </servlet-mapping>

  <!-- Аутентификация Servlet -->
  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>servlets.AuthenticationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/auth-servlet</url-pattern>
  </servlet-mapping>

  <!-- Аутентификация JSP -->
  <servlet>
    <servlet-name>AuthJsp</servlet-name>
    <jsp-file>/jsp/auth.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthJsp</servlet-name>
    <url-pattern>/auth-jsp</url-pattern>
  </servlet-mapping>

  <!-- Забыли пароль Servlet -->

  <servlet>
    <servlet-name>ForgotPassServlet</servlet-name>
    <servlet-class>servlets.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassServlet</servlet-name>
    <url-pattern>/forgot-pass-servlet</url-pattern>
  </servlet-mapping>

  <!-- Забыли пароль JSP -->

  <servlet>
    <servlet-name>ForgotPassJSP</servlet-name>
    <jsp-file>/jsp/forgot_password.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassJSP</servlet-name>
    <url-pattern>/forgot-pass-jsp</url-pattern>
  </servlet-mapping>

  <!-- Создание квиза Servlet -->

  <servlet>
    <servlet-name>CreateQuizServlet</servlet-name>
    <servlet-class>servlets.CreateQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateQuizServlet</servlet-name>
    <url-pattern>/create-quiz-servlet</url-pattern>
  </servlet-mapping>

  <!-- Создание квиза JSP -->

  <servlet>
    <servlet-name>CreateQuizJSP</servlet-name>
    <jsp-file>/jsp/create_quiz.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateQuizJSP</servlet-name>
    <url-pattern>/create-quiz-jsp</url-pattern>
  </servlet-mapping>

  <!-- Создание вопросов Servlet -->

  <servlet>
    <servlet-name>CreateQuestionServlet</servlet-name>
    <servlet-class>servlets.CreateQuestionServlet</servlet-class>
    <!--<multipart-config>
      <location>/main.webapp.media</location>
      <max-file-size>20848820</max-file-size>
      <max-request-size>418018841</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>-->
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateQuestionServlet</servlet-name>
    <url-pattern>/create-question-servlet</url-pattern>
  </servlet-mapping>

  <!--  Создание Вопросов JSP -->

  <servlet>
    <servlet-name>CreateQuestionJSP</servlet-name>
    <jsp-file>/jsp/create_question.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateQuestionJSP</servlet-name>
    <url-pattern>/create-question-jsp</url-pattern>
  </servlet-mapping>
  
<!--  Выбрать Квиз Servlet -->

  <servlet>
    <servlet-name>ChooseQuizServlet</servlet-name>
    <servlet-class>servlets.ChooseQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChooseQuizServlet</servlet-name>
    <url-pattern>/choose-quiz-servlet</url-pattern>
  </servlet-mapping>

<!--  Выбрать Квиз JSP -->
  <servlet>
    <servlet-name>ChooseQuizJSP</servlet-name>
    <jsp-file>/jsp/choose_quiz.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChooseQuizJSP</servlet-name>
    <url-pattern>/choose-quiz-jsp</url-pattern>
  </servlet-mapping>

<!--  Страницы хоста со списком игроков Servlet  -->
  <servlet>
    <servlet-name>GameServlet</servlet-name>
    <servlet-class>servlets.GameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameServlet</servlet-name>
    <url-pattern>/game-servlet</url-pattern>
  </servlet-mapping>

  <!--  Страницы хоста со списком игроков JSP  -->
  <servlet>
    <servlet-name>PageWithCodeJSP</servlet-name>
    <jsp-file>/jsp/page_with_code.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageWithCodeJSP</servlet-name>
    <url-pattern>/page-with-code-jsp</url-pattern>
  </servlet-mapping>

  <!--  Главный экран Servlet  -->
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>servlets.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/main-servlet</url-pattern>
  </servlet-mapping>
  
  <!--  Главный экран JSP  -->
  <servlet>
    <servlet-name>MainJSP</servlet-name>
    <jsp-file>/jsp/main.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainJSP</servlet-name>
    <url-pattern>/main-jsp</url-pattern>
  </servlet-mapping>

  <!--  Начало квиза Servlet  -->
  <servlet>
    <servlet-name>QuizStartServlet</servlet-name>
    <servlet-class>servlets.QuizStartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuizStartServlet</servlet-name>
    <url-pattern>/quiz-start-servlet</url-pattern>
  </servlet-mapping>

  <!--  Начало квиза  JSP -->
  <servlet>
    <servlet-name>QuizStartJSP</servlet-name>
    <jsp-file>/jsp/quiz_start.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuizStartJSP</servlet-name>
    <url-pattern>/quiz-start-jsp</url-pattern>
  </servlet-mapping>

  <!--  Результаты JSP  -->
  <servlet>
    <servlet-name>ResultOfQuizJSP</servlet-name>
    <jsp-file>/jsp/result_of_quiz.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultOfQuizJSP</servlet-name>
    <url-pattern>/result-of-quiz-jsp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PersonalAccountJSP</servlet-name>
    <jsp-file>/jsp/personal_account.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalAccountJSP</servlet-name>
    <url-pattern>/personal-account-jsp</url-pattern>
  </servlet-mapping>
  
  <!--  Страница ошибки 404 -->
<!--  <error-page>
    <error-code>404</error-code>
    <location>/html/404.html</location>
  </error-page>-->

</web-app>

  
  

  

